html{
    background-color:rgb(61, 61, 61)
}.head {
  font-size: 25px;
  width: 80px;
  margin: auto;
  text-align: center;
  color: white;
}

.cardhead {
  display: grid;
  grid-template-columns: auto auto auto auto;
  gap: 20px;
  margin-left: 40px;
  padding: 10px;
}

.card {
  width: 300px;
  height: 500px;
  border: 2px solid rgba(0, 0, 0, 0.397);
  border-radius: 5px;

  background-color: rgba(114, 114, 216, 0.158);
}

.picture {
  width: 200px;
  height: 300px;

  margin: 10px auto;
}
.header {
  text-align: center;
  font-size: 30px;
}

.color {
  text-align: center;
}
img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
}


audio{

  width: 100px;
  margin: 10px 100px;
}